<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dimitri Mikadze</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dimitri Mikadze is a digital Designer/Developer from Tbilisi, Georgia. collaborating with amazing people around the world to create beautifully-designed, robust solutions">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link rel="stylesheet" href="/css/bundle.css">
</head>
<body>

<div id="loading"></div>

<div id="react-root"><div><%- content %></div></div>

<script src="/js/bundle.js"></script>

</body>
</html>